<!-- Start Gallery -->
<section class="gallery">
    <div class="grid-filter text-align-center clearfix">
        <ul class="nav nav-pills sort-source" data-sort-id="gallery" data-option-key="filter">
            <li data-option-value="*" class="active"><a href="#"><span>All</span></a></li>
            <% categories.each do |category| %>
              <li data-option-value=".<%= category.downcase.gsub('/', '').split(' ').join('-') %>"><a href="#"><span><%= category %></span></a></li>
            <% end %>
        </ul>
    </div>
    <div class="sort-wrapper">
        <ul class="sort-destination grid-3-col gallery-items mfp-popup" data-sort-id="gallery">
            <% public_projects.each do |project| %>
              <li class="grid-item forat-image <%= project.categories.map(&:downcase).map {|c| c.gsub('/', '').split(' ').join('-') }.join(" ") %>">
                <div class="grid-item-inner">
                  <a href="/projects/<%= project.path %>.html" class="media-box">
                    <img src="/images/projects/<%= project.id %>/thumb.jpg" alt="<%= project.title %>">
                    <h3><%= project.thumbs_title %></h3>
                    <ul>
                      <% project.categories.each do |category| %>
                        <li><%= category %></li>
                      <% end %>
                    </ul>
                  </a>
                </div>
              </li>
            <% end %>
        </ul>
    </div>
</section>
<!-- End Gallery -->
