<%= content_for(:title, project.title) if project.title %>
<%= content_for(:description, project.description) if project.description %>

<div class="body">
    <div class="project-page">
      <div class="container">
        <div class="col-md-6">
          <h2 style="margin-bottom: 10px; position:relative; left: -4px;">
            <%= project.title %>
          </h2>
          <div class="project-page__categories">
          <% project.categories.each_with_index do |category, index| %>
            <a title="<%= category %>" href="/projects.html#<%= category.downcase.gsub('/', '') %>"><%= category %></a><span><%= (index + 1 != project.categories.size) ? "," : "" %></span>
          <% end %>
          </div>
          <span class="small-black-line-left"></span>
          <% if project.metadata %>
            <p class="project-page__metadata">
              <% project.metadata.each do |key, value| %>
              <strong><%= key.capitalize %>:</strong> <%= value %><br/>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if project.description %>
          <p><%= project.description %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
        <% project_images(project.id).each do |imageSrc| %>
        <section class="row" style="margin-bottom: 1px;">
            <div class="col-md-12">
                <div class="caption-wrapper">
                    <div class="imgb"> <img src="<%= imageSrc %>" alt=""> </div>
                </div>
            </div>
        </section>
        <% end %>

        <% if project.videos %>
        <% project.videos.each do |videoUrl| %>
        <section class="row" style="margin-bottom: 1px;">
            <div class="col-md-12">
              <% if videoUrl =~ /vimeo/ %>
              <div class="videoWrapper">
                <iframe src="https://player.vimeo.com/video/<%= videoUrl.match(/\d+$/)[0] %>?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <% else %>
              <video autoplay="autoplay" loop="loop" controls="controls" muted="muted">
                  <source src="<%= videoUrl %>" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
              <% end %>
            </div>
        </section>
        <% end %>
        <% end %>

        <div class="spacer-100"></div>
        <hr class="fw">
    </div>
    <%= partial "partials/gallery" %>
    <div class="spacer-100"></div>
</div>
