<%= content_for(:title, project.title) %>
<%= content_for(:description, project.description) %>

<div class="body">
    <!-- Start Page Header -->
    <div class="page-header-light light-grey-bg padding-tb125 margin-80">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="page-title"><%= project.title %></h1>
                    <h1 class="page-title-clone"><%= project.title %></h1>
                </div>
                <div class="col-md-5">
                    <p class="page-title-description"><%= project.description %></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <div>
        <div class="container">
            <% project_images(project.id).each do |imageSrc| %>
            <section class="row margin-80">
                <div class="col-md-12">
                    <div class="caption-left-bottom">
                        <div class="caption-inner">
                            <h2 class="small-red-line-left">Exocet Chair</h2>
                            <p class="light-blue-text">Karimoku is a chair so designed that it can be assembelled<br> in less than a minute and is light.</p>
                        </div>
                    </div>
                    <!-- Start Text Block -->
                    <div class="caption-wrapper">
                        <div class="caption-left-bottom overlay-white">
                            <div class="caption-inner">
                                <h2 class="small-red-line-left">Karimoku</h2>
                                <p class="light-blue-text">Karimoku is a chair so designed that it can be assembelled<br> in less than a minute and is light.</p>
                            </div>
                        </div>
                        <div class="imgb"> <img src="<%= imageSrc %>" alt=""> </div>
                    </div>
                    <!-- End Text Block -->
                </div>
            </section>
            <% end %>


            <hr class="fw">
            <section class="row margin-20" id="section3">
                <div class="col-md-12">
                	<h4>SIMILAR PROJECTS</h4>
                </div>
                <div class="col-md-6">
                	<p>Karimoku is a chair so designed that can be assembelled in less than lorem ipsum doler sit amet adspicing elit till the domet.</p>
                </div>
            </section>
            <div class="row margin-30">
            	<div class="col-md-12"> <a href="#"><img src="http://placehold.it/1170x132&amp;text=IMAGE+PLACEHOLDER" alt=""></a> </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6"> <a href="#"><img src="http://placehold.it/570x132&amp;text=IMAGE+PLACEHOLDER" class="full-image" alt=""></a> </div>
                <div class="col-md-6 col-sm-6"> <a href="#"><img src="http://placehold.it/570x132&amp;text=IMAGE+PLACEHOLDER" class="full-image" alt=""></a> </div>
            </div>
        </div>
    </div>
    <div class="spacer-100"></div>
    <%= partial "partials/footer" %>
</div>
