<%= content_for(:title, project.title) %>
<%= content_for(:description, project.description) %>

<div class="body project-page">
    <!-- Start Page Header -->
    <div class="container">
      <div class="col-md-6 margin-80" style="margin-top: 40px;">
          <div class="caption-left-botto m">
              <div class="caption-inne r">
                  <h2 style="margin-bottom: 10px; position:relative; left: -4px;">
                    <%= project.title %>
                  </h2>
                  <div style="font-weight: bold;">
                  <% project.categories.each_with_index do |category, index| %>
                    <a style="color: #000; font-size: 14px;" title="<%= category %>" href="/projects.html#<%= category.downcase %>"><%= category %></a><span><%= (index + 1 != project.categories.size) ? "," : "" %></span>
                  <% end %>
                  </div>
                  <span class="small-black-line-left"></span>
                  <p class="light-blue-text"><%= project.description %></p>
                  <% if project.metadata %>
                    <p class="light-blue-text">
                      <% project.metadata.each do |key, value| %>
                      <strong><%= key.capitalize %>:</strong> <%= value %><br/>
                      <% end %>
                    </p>
                  <% end %>
              </div>
          </div>
        </div>
    </div>
    <!-- End Page Header -->

    <div>
        <div class="container">
            <% project_images(project.id).each do |imageSrc| %>
            <section class="row" style="margin-bottom: 1px;">
                <div class="col-md-12">
                    <!-- Start Text Block -->
                    <div class="caption-wrapper">
                        <div class="imgb"> <img src="<%= imageSrc %>" alt=""> </div>
                    </div>
                    <!-- End Text Block -->
                </div>
            </section>
            <% end %>

            <div class="spacer-100"></div>
            <hr class="fw">
            <section class="row margin-20" id="section3">
                <div class="col-md-12">
                	<h4>PORTFOLIO</h4>
                </div>
              	<%= partial "partials/gallery" %>
            </section>
        </div>
    </div>
    <div class="spacer-100"></div>
</div>
